@model List<Student> 
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Department Name</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(x => item.Id)
<tr>
    <td>@item.Name</td>
    <td>@item.Address</td>
    <td>@item.Email</td>
    <td>@item.Department.Name</td>
    <td><a asp-action="Add" asp-controller="Student" class="btn btn-success">Add</a></td>
    <td><a asp-action="Edit" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-success">Edit</a></td>
    <td><a asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-success">Delete</a></td>
</tr>
    }
</table>
